@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles for h1 and p */
h1, p {
    font-family: 'Azeret Mono';
    margin-bottom: 20px;
}

p {
    color: rgb(13, 19, 33);
    opacity: 0.7;
}

/* style banner starts here */
.banner {
    width: 100%;
    height: 652px;
    margin: 30px auto 0;
    background-image: url(../assets/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-content {
    text-align: center;
}

.contact-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-btn button {
    color: rgb(218, 217, 239);
    width: 200px;
    height: 60px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    text-align: center;
    border: none;
    cursor: pointer;
}
/* style banner ends here */

/* Style main content starts here */
.main-section {
    width: 1140px;
    margin: 30px auto 0;
    background: rgba(13, 19, 33, 0.02);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main-content {
    margin-bottom: 20px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    max-width: 600px;
    overflow: hidden;
    width: 100%;
}

.card-content, .card-image {
    padding: 20px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.learn-more {
    box-sizing: border-box;
    border: 1px solid rgb(195, 200, 212);
    opacity: 0.7;
    font-family: 'Azeret Mono';
    text-align: center;
}

.card.reverse {
    flex-direction: row-reverse;
}

/* style main content ends here */

/* inspiration style starts here */
.inspiration {
    background: white; /* Ensure the inspiration section has its own background color */
    padding: 20px;
     width: 1140px;
height: 5245px;
margin: 0 auto;
}

.inspiration-content {
    text-align: center;
    margin-bottom: 20px;
}

.inspiration-video {
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    text-align: center;
    padding: 20px;
    
}
.video-container {
    border: 2px solid rgb(210, 201, 201);
    border-radius: 10px;
    overflow: hidden;
}
/* inspiration style ends here */
